#show_img{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.cover_img{
    width: 250px;
    height: 250px;
}

.view_images{
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 10px;
}
.img{
    width: 100%;
    height: 100%;
}
